@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px;
    width: 100%;
  }

  .parent {
    display: flex;
    flex-wrap: wrap;  /* Ensures content wraps instead of overflowing */
    justify-content: center;
  }
  .child {
    flex: 1 1 300px; /* Prevents unexpected growth */
  }
  body, html {
    overflow-x: hidden;
  }

  html {
    zoom: 1; /* Forces consistent scaling */
    text-rendering: optimizeLegibility; /* Better font rendering */
  }
    .swiper-pagination {
      position: absolute;
      bottom: -24px;
      /* Moves bullets 24px below the card */
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 10;
    }
  
    /* Pagination bullets */
    .swiper-pagination-bullet {
      background: var(--swiper-pagination-bullet-inactive-color,
          #c8cfd2) !important;
      opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
    }
  
    /* Active bullet styles */
    .swiper-pagination-bullet-active {
      background: #853d16 !important;
      height: 8px !important;
      width: 10px !important;
      border-radius: 18px !important;
    }